footer{
    padding: 10px;
    margin: 20px ;
    color:black;
    background-color:#F3E9DD;
    display: flex;
    align-items: center;
    justify-content: center;
}

$rrss: (
    twitter:#ee2450,
    instagram: #ee2450,
    facebook: #ee2450
);

@each $name, $color in $rrss {
    .#{$name}{
        background-color: $color;
        margin: 0 10px;
        padding: 10px ;
        color:#fff;
        border-radius: 20px;
    }
}