* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#FDF6EC;
    font-family: 'Anybody', cursive;
}

.titleTemplate{
    font-size:50px;
    padding: 1rem;
    margin: 3rem;
    color:$colorPrimary;
    text-align: center;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textContainer ($justifyContent, $column) {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: $justifyContent;
    align-items: center;
    padding:30px 20px;
    

    @if ($column == 'yes') {
        flex-direction: column;
    }
}

@each $links in (a) {
    #{$links}{
        text-decoration: none;
    }
}


